<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Rehearsal Rooms</title>
<meta charset="utf-8">
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
<link href="/css/index.css" rel="stylesheet">
</head>
<body>
	<h1>Hello</h1>

	<div id="cont" class="container">
		<div id="wrapper">
			<div class="container container-fluid" id="cont">
				<form method="GET" action="/login">
					<br> <br>
					<button type='submit' class="btn btn-primary" id="login"
						name="login" value=execute>Login</button>
					<br> <br>
				</form>
				<form method="GET" action="/register">
					<button type='submit' value=execute>Register</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
