<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:security="http://www.springframework.org/security/tags">

<head>
<title>Schedule your rehearsal</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/schedule.css">
</head>
<nav class="navbar navbar-inverse">
	<div class="container">

		<div class="navbar-header">
			<a class="navbar-brand" href="#">Schedule your Rehearsals!</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Register</a></li>
			</ul>
		</div>
	</div>
</nav>
<div id="hello">
	<h1>Schedule for your rehearsal room!</h1>
</div>

	<div id="infos"> 
		<div id="infoContainer" th:if="${info}">
		<h2>
			<font color="red"><span th:text="${info}"></span></font><br /> <br />
		</h2>
		</div>
	</div>

<div id="scheduleContent" class="container-fluid">


	<form name='scheduleForm' th:action="@{/schedule}" method="post">
		<fieldset>
			<label for="year">Year:</label> <input type="text" id="year"
				name="year" /> <label for="month">Month:</label> <input type="text"
				id="month" name="month" /> <label for="day">Day:</label> <input
				type="text" id="day" name="day" /> <label for="hour">Hour:</label>
			<input type="text" id="hour" name="hour" /> <label for="minutes">Minutes:</label>
			<input type="text" id="minutes" name="minutes" /> <SELECT id="room"
				name="room" size="1">
				<OPTION label="Room 1" value="FIRSTROOM">Room 1</OPTION>
				<OPTION label="Room 2" value="SECONDROOM">Room 2</OPTION>
				<OPTION label="Room 3" value="THIRDROOM">Room 3</OPTION>
			</SELECT>
			<button type="submit" id="submit" name="submit" class="btn btn-success">Register</button>
		</fieldset>
	</form>
</div>

<div id="byDateDiv" class="container-fluid">
	<form name='scheduleFormByDate' th:action="@{/schedule/byDate}"
		method="get">
		<fieldset>
			<label for="year">Year:</label> <input type="text" id="year"
				name="year" /> <label for="month">Month:</label> <input type="text"
				id="month" name="month" /> <label for="day">Day:</label> <input
				type="text" id="day" name="day" />
			<button type="submit" id="submit" name="submit" class="btn btn-info">Find
				Schedules By Date</button>
		</fieldset>
	</form>
</div>

<div id="byRoomDiv" class="container-fluid">
	<form name='scheduleFormByRoom' th:action="@{/schedule/byRoom}"
		method="get">

		<fieldset>
			<label for="room">Room:</label> <SELECT id="room" name="room"
				size="1">
				<OPTION label="Room 1" value="FIRSTROOM">Room 1</OPTION>
				<OPTION label="Room 2" value="SECONDROOM">Room 2</OPTION>
				<OPTION label="Room 3" value="THIRDROOM">Room 3</OPTION>
			</SELECT>
			<button type="submit" name="submit" class="btn btn-info">Find
				Schedules By Room</button>
		</fieldset>
	</form>
</div>

<div id="byNameDiv" class="container-fluid">
	<form name='scheduleFormByName' th:action="@{/schedule/byName}"
		method="get">
		<fieldset>
			<button type="submit" name="submit" class="btn btn-primary">Find Your
				Schedules!</button>
		</fieldset>
	</form>
</div>

<div id="logout" class="container-fluid">
	<form id="logoutForm" name="logoutForm" th:action="@{/logout}"
		method="post">
		<button type="submit" id="logoutButton" name="logoutButton" class="btn btn-danger">Logout</button>
	</form>
</div>

<div id="queryContainer" class="container-fluid">

	<div id="yourSchedules" th:if="${yourSchedules}">
		<table class="table table-striped">
			<tr th:each="schedule : ${yourSchedules}">
				<td th:text="${schedule}"></td>
				<td class="tdDel"><a id="delete" name="delete" th:href="@{/schedule/delete(id=${schedule.id})}"
				class="btn btn-danger">Delete</a></td>
			</tr>
		</table>
	</div>
	
	<div id="schedules" th:if="${schedules}">
		<table class="table table-striped">
			<tr th:each="schedule : ${schedules}">
				<td th:text="${schedule}"></td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>