@charset "UTF-8";

@charset "UTF-8";

body {
	background-color: #d4dcda;
}

.containter {
	width: 70px;
	height: 200px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: center;
	align-content: center;
}

.userLabel {
	color: #fce94f;
}

h1 {
	color: #000000;
}